@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-wrap: wrap;
}

.box-one,.box-two{
    border: 1px solid #ddd;
    padding: 10px 28px 10px 28px;
    border-radius: 5px;
    text-align: center;
}

.box-one{
    width: 20%;
    padding: 15px; 
    margin-right: 20px;
}

.box-two{
    width: 73%;
    margin: 0 auto;
}

#score{
    padding: 20px;
    font-size: 19px;
}

#equation{
    padding: 10px;
    font-size: 19px;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row
{
    margin: 10px 0px;
    width: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}
.row input[type="text"] {
    width: 100%;
    padding: 15px 9px;
    cursor: text;
    border-radius: 5px;
    border: none; 
    outline: none;
    border: 2px solid #6b6868;
    border-radius: 5px;

}

.row input[type="button"]{
    width: 24%;
    white-space: normal;
    text-align: center;
    padding: 11px 15px;
    border-radius: 5px;
    border: none; 
    outline: none;
    border: 2px solid rgba(4, 143, 143, 0.384);
    border-radius: 5px;
    font-size: 15px;
    background: rgb(16, 158, 158);
    transition: 0.3s ease-in-out;
    color: white;
    text-transform: capitalize;
    cursor: pointer !important;

}

.row input {
    padding: 11px 26px;
    border: none; 
    outline: none;
    border: 2px solid #6b6868;
    border-radius: 5px;

}

.row input#clear{
    padding:11px 10px;
    cursor: pointer;
}

.row button#enter{
    border: 2px solid rgba(4, 143, 143, 0.384);
    background: rgb(16, 158, 158);
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 24%;
    cursor: pointer;

}

.row button#delete,#clear{
    border: 2px solid rgba(4, 143, 143, 0.384);
    border-radius: 5px;
    font-size: 15px;
    background: rgb(16, 158, 158);
    transition: 0.3s ease-in-out;
    color: white;
    text-transform: capitalize;
    width: 25%;
    cursor: pointer;

}

table, tr{
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
  }



  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

#score,#loserName{
    display: block;
}

.removed-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loserName{
    width: 83%;
    margin-bottom: 24px;
    padding: 10px 0px 10px 15px;
}

#submit{
    padding: 10px 15px;
    border: none; 
    outline: none;
    border: 2px solid rgba(4, 143, 143, 0.384);
    background: rgb(16, 158, 158);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (min-width: 1401px){
    .box-one {
        width: 24%;
       padding: 10px 40px; 
       margin-left: 12px;
       margin-bottom: 20px;
      
    }
    .box-two{
        width: 63%;
        
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px){
    .box-one {
        width: 21%;
       padding: 10px 40px; 
        margin: auto;
        margin-bottom: 20px;
        margin-right: 15px;
    }
    .box-two{
        width: 66%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .box-one {
        width: 100%;
       padding: 10px 40px; 
        margin: auto;
        margin-bottom: 20px;
    }
    .box-two{
        width: 100%;
    }
    /* .row input#clear {
        padding: 11px 0px;
    }

    .row button#enter{
        padding: 11px 1px;
    }

    .row button#delete{
        padding: 11px 12px;    
    } */
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .box-one {
        width: 90%;
        padding-right: 18px;
        padding-left: 15px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .box-two{
        width: 100%;
    }

    .row button#enter{
        width: 24%;
    }

    .row button#delete{
        width: 24%;
    }
}